@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol, li, dl, dt, dd {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 0;
}

.blink {
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50%, 100% { opacity: 0; }
}